<div class="container">
  <div class="row">
    <div class="example-button-container">
      <button mat-button [matMenuTriggerFor]="animals">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <mat-menu #animals="matMenu">
      <a routerLink="/" routerLinkActive="active" class="d-block">home</a>
      <a *ngIf="!isAuthorized" routerLink="/log-in" routerLinkActive="active" class="d-block"
        >login</a
      >
      <a *ngIf="!isAuthorized" routerLink="/sign-up" routerLinkActive="active" class="d-block"
        >sign-up</a
      >
      <a routerLink="/profile" routerLinkActive="active" class="d-block"
        >profile</a
      >
      <a routerLink="/posts" routerLinkActive="active" class="d-block"
        >posts</a
      >
      <a routerLink="/authors" routerLinkActive="active" class="d-block"
        >authors</a
      >
    </mat-menu>

    <app-minimaze-profile style="margin-left: auto;" (hello)="hello($event)" [hi]="token"></app-minimaze-profile>
  </div>

<router-outlet></router-outlet>

</div>